{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
    {% block title %}
        
    {% endblock title %}
        </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<link rel="shortcut icon" href="{% static 'logo/favicon.png'%}">
	<!-- Google Font Family Link End -->

	<!--JS-->
	
	{% if '/profil' in request.GET %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete"></script>
	{% endif %}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'js/custom.js' %}" ></script>


	<!-- CSS -->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
		body{
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}
	</style>

		<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/css/autocomplete.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/js/autocomplete.min.js"></script>

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


		 <!-- Load Esri Leaflet from CDN -->
		 <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>


		 <!-- Load Esri Leaflet Geocoder from CDN -->
		 <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css" integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ==" crossorigin="">
		 <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js" integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A==" crossorigin=""></script>

		</head>

<body>
	<!--Main Wrapper-->
	{% include 'partials/_navbar.html' %}
	<div class="wrapper">
        {% block content %}
        {% endblock content %}
	</div>
	{% include 'partials/_toast.html' %}
	{% include 'partials/_footer.html' %}
	<!-- Modal Popup End -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>	
	<script src="{% static 'js/modernizr.js'%}"></script>
	<script src="{% static 'js/bootstrap.js'%}"></script>


	<script>
		
		$(document).ready(function(){
		$('.restaurant-add-menu-btn').on('click',function(e){
		  e.preventDefault();
		  food_id=$(this).attr('data-id')
		  
		  url=$(this).attr('data-url')
		  $.ajax({
			type:'GET',
			url:url,
			success:function(response){
				if (response.status == 'login_required') {
					swal(response.message, "", "info").then(()=>{
						window.location='/%2Flogin'
					})
					
				}else if(response.status == 'fail'){
					swal(response.message, "", "error");
				} else {
					applyCartItem(response.cart_amount)
					$('#cart-counter').html(response.counter.cart_counter)
					$('#qty-'+response.id).html(response.qty)
					


					
				}
			}
		  })
		})
	
	
		$('.restaurant-minus-menu-btn').on('click',function(e){
		  e.preventDefault();
		  food_id=$(this).attr('data-id')
		  url=$(this).attr('data-url')
		  cart_id=$(this).attr('id')
		  $.ajax({
			type:'GET',
			url:url,
			success:function(response){
				if (response.status == 'login_required') {
					swal(response.message, "", "info").then(()=>{
						window.location='/%2Flogin'
					})
					
				}else if(response.status == 'fail'){
					swal(response.message, "", "error");
				} else {
					applyCartItem(response.cart_amount)
					$('#cart-counter').html(response.counter.cart_counter)
					$('#qty-'+response.id).html(response.qty)
					if(cart_id){
						applyCartItem(response.cart_amount)
						deleteCartItemLi(response.qty,cart_id)
						emptyCartDiv(response.counter.cart_counter)
					}

					

				}
			}
		  })
		})
	
	
	
		
		$('.remove_cart').on('click',function(e){
		  e.preventDefault();
		  cart_id=$(this).attr('data-id')
		  cart_fooditem_id=$(this).attr('data-id-fooditem')
		  url=$(this).attr('data-url')
		  

		  $.ajax({
			type:'GET',
			url:url,
			success:function(response){
				if(response.status == 'fail'){
					swal(response.message, "", "error");
				} else {
					applyCartItem(response.cart_amount)
					$('#cart-counter').html(response.counter.cart_counter)
					swal(response.message, "", "success");
					deleteCartItemLi(0,cart_id)
					emptyCartDiv(response.counter.cart_counter)
				}
			}
		  })
		})
	
	
		
		$('.item_qty').each(function(){
			fooditem_id=$(this).attr('id')
			fooditem_qty=$(this).attr('data-qty')


			$('#'+fooditem_id).html(fooditem_qty)

		})
		const deleteCartItemLi=(qty,id)=>{
			if (qty<=0){
				document.getElementById(`cartItem-${id}`).remove()
				}
		}

		const emptyCartDiv=(counter)=>{
			if (counter<=0){
				document.getElementById('emptycart').style.display='block'
				}
		}

		const applyCartItem=(cart_amount)=>{
			if(window.location.pathname =='/marketplace/cart'){
				$('#subtotal').html(cart_amount.subTotal)
				$('#tax').html(cart_amount.tax)
				$('#total').html(cart_amount.grandTotal)
			}

		}


	})
	</script>

<script>
	new Autocomplete("search", {
		// default selects the first item in
		// the list of results
		selectFirst: true,

		// The number of characters entered should start searching
		howManyCharacters: 2,

		// onSearch
		onSearch: ({ currentValue }) => {
			// You can also use static files
			// const api = '../static/search.json'
			const api = `https://nominatim.openstreetmap.org/search?format=geojson&limit=5&city=${encodeURI(
			currentValue
			)}`;


return new Promise((resolve) => {
fetch(api)
.then((response) => response.json())
.then((data) => {
  resolve(data.features);
})
.catch((error) => {
  console.error(error);
});
});
},
// nominatim GeoJSON format parse this part turns json into the list of
// records that appears when you type.
onResults: ({ currentValue, matches, template }) => {
const regex = new RegExp(currentValue, "gi");

// if the result returns 0 we
// show the no results element
return matches === 0
? template
: matches
  .map((element) => {
	return `
  <li class="loupe">
	<p>
	  ${element.properties.display_name.replace(
		regex,
		(str) => `<b>${str}</b>`
	  )}
	</p>
  </li> `;
  })
  .join("");
},

// we add an action to enter or click
onSubmit: ({ object }) => {
	const{geometry,properties}=object
	const[lat,long]=geometry.coordinates
	full_address= properties.display_name.split(',')
	$('#id_latitude').val(lat)
	$('#id_longitude').val(long)
	console.log([lat,long],full_address)
// const { display_name } = object.properties;
// const [lng, lat] = object.geometry.coordinates;
},

// get index and data from li element after
// hovering over li with the mouse or using
// arrow keys ↓ | ↑
//   onSelectedItem: ({ object }) => {
//     console.log("onSelectedItem:", index, element, object);
//   },

// the method presents no results element
noResults: ({ currentValue, template }) =>
template(`<li>No results found: "${currentValue}"</li>`),
});
  </script>



	
</body>

</html>