{% extends 'base.html' %}
{% load static %}

{% block title %}
Forget password
{% endblock title %}


{% block content %}
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 350px !important">
                    <div class="user-dashboard loader-holder" style="width: 460px;">
                        <div class="user-holder">
                    <h4 class="text-center" style="margin-bottom: 0;">Reset password</h4>
                    <p class="text-center">Entre your new password and confirme it </p>
                    <hr>
                    <div id="restaurant-sets-holder">
                        <form class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="reset_password">
                            {% csrf_token %}
                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Password</label>
                                                        <input type="password" name="password" class="foodbakery-dev-username foodbakery-dev-req-field">           
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Confirme Password</label>
                                                        <input type="password" name="password_confirm" class="foodbakery-dev-username foodbakery-dev-req-field">           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-holder">
                                                <div class="payment-holder">
                                                    <input type="submit" value="Submit" id="btn-next-restaurant-information" class="bgcolor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock content %}

    